.header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--gray-700);
  height: 12.5rem;

  img {
    height: 3rem;
  }
}
