.wrapper {
  position: relative;
  top: -1.5625rem;

  max-width: 46rem;

  display: flex;
  flex-direction: column;

  margin: 0 auto;

  .todoList {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}
